body {
    font-family: Arial, sans-serif;
    background-color: #D2B48C; 
    color: #ffffff; 
}

.navbar {
    background-color: #3e1f15; 
}

.navbar a {
    color: #ffffff; 
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
}

.navbar a:hover {
    background-color: #6f4f28; 
    color: white; 
}


.btn-dark {
    background-color: #3e1f15; 
    color: white;
    border: 2px solid #6f4f28; 
}

.btn-dark:hover {
    background-color: #6f4f28; 
    border: 2px solid #3e1f15; 
    color: white; 
}


.profile-image {
    width: 250px;  
    height: 250px; 
    border-radius: 50%;  
    object-fit: cover;  
    border: 4px solid #6f4f28; 
    margin-bottom: 20px; 
}

.card {
    background-color: #4b3d26; 
    color: #ffffff; 
    margin-bottom: 15px;
}

.card-body {
    padding: 20px;
}

.card-title {
    font-size: 1.25rem;
    color: #ffffff; 
}

.card-text {
    color: #f0f0f0; 
}


footer {
    background-color: #3e1f15; 
    color: white;
}


.bg-white {
    color: #333333; 
}


a {
    color: #6f4f28; 
    text-decoration: none;
}

a:hover {
    color: #000000; 
}

.section-box {
    background-color: #ffffff;   
    color: #333333;              
    padding: 40px;               
    margin: 40px 0;            
    border-radius: 10px;         
}
.section-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
}


.portfolio-section h2 {
    font-weight: bold;
    background-color: #ffffff;   
    color: #333333;              
    padding: 40px;               
    margin: 40px 0;            
    border-radius: 10px;
  }
  
  .portfolio-item h4 {
    margin-bottom: 10px;
    font-weight: bold;
    background-color: #ffffff;   
    color: #333333;              
    padding: 40px;               
    margin: 40px 0;            
    border-radius: 10px;
  }
  
  .portfolio-img {
    width: 100%;
    max-width: 600px;
    border-radius: 10px;
    display: block;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }
